body {
  background-image: url('../img/model-1.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.test {
  background-color: $white;
  color: $smoky-black;

  .row div {
    border: 1px solid red;
  }
}
