.body {
  background-color: $white;
  margin-right: 700px;
}

.body__txt {
  background-color: $white;
  padding-left: 50px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.body__txt-p {
  padding-bottom: 15px;
}
