.lorem__news {
  background-color: $smoky-black;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 60px;
  margin-right: 50px;
}

.lorem__news-title {
  padding-bottom: 10px;
}

.lorem__news-mail {
  padding-bottom: -3px;
}

.lorem__news-susc {
  transform: rotate(-90deg);
  float: right;
}

.lorem__news-suscribir {
  color: $white;
}
