.body__news {
  background-color: $smoky-black;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 60px;
  margin-right: 50px;
}

.body__news-title {
  padding-bottom: 10px;
}

.body__news-mail {
  padding-bottom: -3px;
}

.body__news-suscribir {
  color: $white;
  transform: rotate(-90deg);
  float: right;
  padding-left: 40px;
}
