.header {
  background-color: $white;
  padding-right: 650px;
}

.header__bloque {
  background-color: $smoky-black;
  padding: 20px;
}

.header__bloque-txt {
  color: $white;
  font-family: $old-standard;
  font-size: $x-large;
  font-weight: $regular;
}
