.header {
  background-color: $white;
  padding-right: 650px;
}

.header__bloque {
  background-color: $smoky-black;
}

.header__bloque-txt {
  color: $white;
  font-family: $old-standard;
  font-size: $x-large;
  font-weight: $regular;
  padding: 20px;
}

.header__menu a {
  font-family: $raleway;
  font-size: $small;
  font-weight: $bold;
  color: $smoky-black;
}

.header__menu-nav {
  padding-left: 700px;
}
